
<%= form_with model: [ @category, @category.tasks.build ] do |form| %>
  <p>
    <%= form.label :task %><br>
    <%= form.text_field :task %>
  </p>
  <p>
    <%= form.label :details %><br>
    <%= form.text_field :details %>
  </p>
  <p>
  <%= form.label :deadline %><br>
  <%= form.text_field :deadline %>
</p>
  <p>
    <%= form.submit %>
  </p>
<% end %>