<div class="edit-task-head-buttons">
  <%= link_to :back, class: "category-edit-back" do %>
    <i class="fa-solid fa-backward"></i>
  <% end %>
</div> 
<div class="new-task-container">
  <div class="new-task-content">
  <%= form_with model: [ @category, @category.tasks.build ] do |form| %>
    <p>
      <%= form.label :task, class: "new-task-label" %><br>
      <%= form.text_field :task, class: "edit-task-field" %>
    </p>
    <p>
      <%= form.label :details, class: "new-task-label" %><br>
      <%= form.text_field :details, class: "edit-task-field" %>
    </p>
    <p>
      <%= form.label :deadline, class: "new-task-label" %><br>
      <%= form.date_field :deadline, class: "edit-task-field" %>
    </p>
    <p>
      <%= form.submit class: "new-task-submit" %>
    </p>
  <% end %> 
  </div>
</div>