<%= link_to :back, class: "category-edit-back" do %>
  <i class="fa-solid fa-backward"></i>
<% end %>

<div class="new-cat">
  <%= form_with model: @category do |form| %>
    <div class="field mb-3 ">
      <%= form.text_field :title, class:"form-input" %>
      <% @category.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
      <% end %>
      <div>
        <%= form.submit class: "edit-category-submit"%>
      </div>
    </div>
  <% end %>
</div>  




