<p class="greet-user"><span> Hello, <%= current_user.email %>!</span></p>
<div class="category-header">
  <p>Categories</p>
  <%= link_to new_category_path, class: "add-category" do %>
    Add a category
  <% end %>
</div>

<%= link_to "/today", class:"task-today" do %>
    View today's tasks (<%= @due_today.length %>)
<% end %>
 
<%= link_to "/overdue", class:"task-today" do %>
  View overdue tasks (<%= @overdue.length %>)
<% end %>

<%= link_to "/futuretask", class:"task-today" do %>
  View future tasks (<%= @futuretask.length %>)
<% end %>

<%if @categories.length < 1 %>
  <p class="no-category-yet"> NO CATEGORY YET </p>
<% else %>
  <div class="category-all">
  <% @categories.each do |category| %>
    <div  class="category-cont"> 
      <%= link_to category.title, category, class: "category-name", id: "index-show-category" %>
      <p class="each-category-task-length">Tasks: (<%= category.tasks.length %>) </p>
    </div>
  <% end %>
</div> 
<% end %>




