<div class="category-header">
  <p>Categories</p>
  <%= link_to new_category_path, class: "add-category" do %>
    Add a category <i class="fa-solid fa-plus"> </i>
  <% end %>
</div>
 
<%= link_to "/today", class:"task-today" do %>
  View today's tasks (<%= @due_today.length %>)
  <i class="fa-solid fa-list-check"></i>
<% end %>

<%= link_to "/overdue", class:"task-today" do %>
  View overdue tasks (<%= @overdue.length %>)
  <i class="fa-solid fa-list-check"></i>
<% end %>

<%= link_to "/futuretask", class:"task-today" do %>
  View future tasks (<%= @futuretask.length %>)
  <i class="fa-solid fa-list-check"></i>
<% end %>

<div class="category-all">
  <% @categories.each do |category| %>
    <div  class="category-cont"> 
      <%= link_to category.title, category, class: "category-name"%> 
      <p class="each-category-task-length">Tasks: (<%= category.tasks.length %>) </p>
    </div>
  <% end %>
</div> 
