
<div class="category-show">
  <h1><%= @category.title %></h1>
  <div class="category-links">
    <p>
      <%= link_to categories_path(@category), class: "category-links" do%>
        <i class="fa-solid fa-house-user"></i>
      <% end %>
    </p>
    <p>
      <%= link_to edit_category_path(@category), class: "category-links" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </p>
    <p>
      <%= link_to category_path(@category), class: "category-links", method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </p>
  </div>    
</div>
<%= render @category.tasks %>

  <%= render "tasks/form"  %>




